# API key
GEMINI_API_KEY="PONER TU LLAVE"

# Model prefix
PREFIX_MODEL = "ollama:qwen3.5:9b"
#PREFIX_MODEL = "google_genai:gemini-3.5-flash-lite"


# Server host for Ollama
#OLLAMA_HOST="https://canning-rerun-snowboard.ngrok-free.dev"